---
interface Props {
  title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>

    <style is:global>
      /* Memuat font Aeonik Trial */
      @font-face {
        font-family: 'Aeonik Trial';
        src: url('/fonts/AeonikTRIAL-Regular.otf') format('opentype');
        font-weight: normal;
        font-style: normal;
      }

      :root {
        --accent: 255, 115, 22;
        --accent-light: 251, 146, 60;
        --accent-dark: 194, 65, 12;
        /* Menggunakan Aeonik Trial sebagai font utama */
        --font-aeonik: 'Aeonik Trial', system-ui, sans-serif;
      }

      html {
        font-family: var(--font-aeonik); /* Update font-family ke Aeonik Trial */
        background: #ffffff;
        background-size: 224px;
        scroll-behavior: smooth;
      }

      body {
        margin: 0;
        padding: 0;
      }

      code {
        font-family:
          Jaro, 
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }

      /* Mengatur font untuk paragraf menggunakan regular */
      p {
        font-family: var(--font-aeonik);
        font-weight: normal; /* Regular weight */
        font-size: 16px; /* Ukuran font untuk paragraf */
        line-height: 1.5; /* Jarak antar baris */
      }

      /* Mengatur font untuk judul dengan bold */
      h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-aeonik);
        font-weight: bold; /* Bold weight */
        font-size: 2rem; /* Ukuran font untuk judul */
        margin-bottom: 1rem; /* Spasi bawah judul */
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
